# Private keys
*.pem

# SnapperDB reference files (keep configs)
config/digcd/snapperdb-ref/**

# Centrifuge QC database
config/qc/centrifuge_db/**

# Kraken WCM database
config/wcmid/mycobacterium_krakendb/**

# Nextflow logs
.nextflow**

# Workdir (dev mode)
work/**