
profiles {

  prod {
    includeConfig 'config/nextflow/prod.conf.nf'
  }

  dev_slurm {
    includeConfig 'config/nextflow/dev.conf.nf'
    includeConfig 'config/nextflow/dev_singularity.conf'
  }

  dev_conda {
    includeConfig 'config/nextflow/dev.conf.nf'
    includeConfig 'config/nextflow/dev_conda.conf'
  }

}
